
<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.02,user-scalable=no">
    <link rel="icon" href="https://www.360mb.net/favicon.ico">
    <title>忘記密碼</title>
    <link rel="stylesheet" href="index.css"></head>
  <style>
    .middle{
      text-align:center;
    }
    #container1{
      margin: 50px;
      padding: 10px;
      width: 500px;
      height: 400px;
      background-color: white;
      border-radius: 5px;
      border-top: 10px solid rgb(255, 0, 0);
      box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
          /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center; 
    }
  </style>
  <body>
    <div id="container1">
      <div id="main-content" class="wrap doc-content">
        <div class="letter">
          <h1>重置密碼</h1>
          <p class="middle">{% extends "base.html" %} 

            {% block title %}輸入新密碼{% endblock %} 

            {% block content %} 

            {% if validlink %} <h1 >設定新密碼！</h1 > <form method = "POST" > 
              {% csrf_token %} 
              {{ form.as_p }} <input type = "submit" value = "更改我的密碼" > </form > 
            {% else %} <p >密碼重置連結無效，可能是因為它已被使用。請請求重置新密碼。</p> 
            {% endif %} {% endblock %}</p>
		  </div>
      </div>
    </div>
    <div>
  </div>
  </body>

</html>