<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.02,user-scalable=no">
    <link rel="icon" href="https://www.360mb.net/favicon.ico">
    <title>忘記密碼</title>
    
  <style>
    .middle{
      text-align:center;
    }
    #container1{
      margin: 50px;
      padding: 10px;
      width: 400px;
      height: 200px;
      background-color: white;
      border-radius: 5px;
      border-top: 10px solid rgb(255, 0, 0);
      box-shadow: 0 0px 70px rgba(0, 0, 0, 0.1);
          /*定位對齊*/
    position:relative;   
    margin: auto;
    top: 100px;
    text-align:center; 
    }
  </style>
  <body>
      <div id="container1">
        {% csrf_token %}
          <p>已寄信至您的電子信箱，請盡速查收!</p>
      </div>
  </body>

</html>